## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
import os
os.chdir("../Weather_Database")
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,55.02,93,100,13.80,overcast clouds
1,1,Mataura,NZ,-46.1927,168.8643,63.48,55,26,5.37,scattered clouds
2,2,Kosh-Agach,RU,50.0000,88.6667,46.22,34,100,3.24,overcast clouds
3,3,Bluff,NZ,-46.6000,168.3333,63.81,74,34,11.77,scattered clouds
4,4,Durham,US,36.0335,-78.8664,66.29,91,100,1.99,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temperatures = []
for temp in max_temp:
    temperatures.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(25.0, 30.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to visualize the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_temp = float(input("What is your preferred minimum temperature? "))
max_temp = float(input("What is your preferred maximum temperature? "))

What is your preferred minimum temperature? 75
What is your preferred maximum temperature? 90

In [5]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Avarua,CK,-21.2078,-159.7750,84.25,74,75,5.75,broken clouds
7,7,Sulphur Springs,US,33.1385,-95.6011,78.51,47,0,5.75,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,82.56,83,75,14.97,broken clouds
9,9,Nabire,ID,-3.3667,135.4833,82.90,77,100,2.15,overcast clouds
18,18,Hithadhoo,MV,-0.6000,73.0833,85.53,72,100,17.67,overcast clouds
19,19,Araouane,ML,18.9048,-3.5265,78.10,15,0,10.74,clear sky
20,20,Isangel,VU,-19.5500,169.2667,87.91,74,75,6.91,broken clouds
23,23,Kaduna,NG,10.5222,7.4383,76.62,59,100,3.62,overcast clouds
27,27,Mahibadhoo,MV,3.7833,72.9667,84.83,75,97,17.90,overcast clouds
29,29,Wattegama,LK,6.7989,81.4808,75.56,87,15,1.97,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                214
City                   214
Country                214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Current Description    214
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Avarua,CK,-21.2078,-159.7750,84.25,74,75,5.75,broken clouds
7,7,Sulphur Springs,US,33.1385,-95.6011,78.51,47,0,5.75,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,82.56,83,75,14.97,broken clouds
9,9,Nabire,ID,-3.3667,135.4833,82.90,77,100,2.15,overcast clouds
18,18,Hithadhoo,MV,-0.6000,73.0833,85.53,72,100,17.67,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Shasta Lake,US,40.6804,-122.3708,79.36,21,66,0.94,broken clouds
674,674,Amravati,IN,20.9333,77.7500,89.78,30,65,11.21,broken clouds
678,678,Luganville,VU,-15.5333,167.1667,84.49,70,100,1.63,overcast clouds
682,682,Mandera,KE,3.9366,41.8670,75.61,79,100,9.71,overcast clouds
683,683,Male,MV,4.1748,73.5089,85.95,74,75,20.71,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,
7,Sulphur Springs,US,78.51,clear sky,33.1385,-95.6011,
8,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
9,Nabire,ID,82.90,overcast clouds,-3.3667,135.4833,
18,Hithadhoo,MV,85.53,overcast clouds,-0.6000,73.0833,
19,Araouane,ML,78.10,clear sky,18.9048,-3.5265,
20,Isangel,VU,87.91,broken clouds,-19.5500,169.2667,
23,Kaduna,NG,76.62,overcast clouds,10.5222,7.4383,
27,Mahibadhoo,MV,84.83,overcast clouds,3.7833,72.9667,
29,Wattegama,LK,75.56,few clouds,6.7989,81.4808,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,Avarua District
7,Sulphur Springs,US,78.51,clear sky,33.1385,-95.6011,Sulphur Springs
8,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Nukuhetulu
9,Nabire,ID,82.90,overcast clouds,-3.3667,135.4833,Nabire
18,Hithadhoo,MV,85.53,overcast clouds,-0.6000,73.0833,Addu City
...,...,...,...,...,...,...,...
671,Shasta Lake,US,79.36,broken clouds,40.6804,-122.3708,Redding
674,Amravati,IN,89.78,broken clouds,20.9333,77.7500,Amravati
678,Luganville,VU,84.49,overcast clouds,-15.5333,167.1667,Luganville
682,Mandera,KE,75.61,overcast clouds,3.9366,41.8670,Mandera
683,Male,MV,85.95,broken clouds,4.1748,73.5089,Malé

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
import os
hotel_df.to_csv(r'C:\path\to\Vacation_Search\WeatherPy_vacation.csv', index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 30.0), zoom_level=2.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))